# Regresja

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Rozważmy zbiór Boston

In [2]:
boston = datasets.load_boston()
# print description
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [3]:
print(boston.keys())
print(boston.data.shape)
print(boston.feature_names)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])
(506, 13)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [4]:
bos=pd.DataFrame(boston.data)
bos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [5]:
bos.columns = boston.feature_names
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
print(boston.target[0:5])
bos['PRICE']=boston.target
bos.head()

[24.  21.6 34.7 33.4 36.2]

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [7]:
model = ols("PRICE ~ CRIM + ZN + I(2**INDUS) + ZN:INDUS+ I(INDUS ** 2.0)", bos).fit()
# Print the summary
print((model.summary()))

                            OLS Regression Results
==============================================================================
Dep. Variable:                  PRICE   R-squared:                       0.281
Model:                            OLS   Adj. R-squared:                  0.274
Method:                 Least Squares   F-statistic:                     39.05
Date:                Wed, 27 Apr 2022   Prob (F-statistic):           7.30e-34
Time:                        20:21:31   Log-Likelihood:                -1756.8
No. Observations:                 506   AIC:                             3526.
Df Residuals:                     500   BIC:                             3551.
Df Model:                           5
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          24.9918      0.643     38.841      0.000      23.728      26.256
CRIM               -0.2807      0.045     -6.218      0.000      -0.369      -0.192
ZN                  0.1075      0.027      4.010      0.000       0.055       0.160
I(2 ** INDUS)   -4.247e-09   1.77e-08     -0.239      0.811   -3.91e-08    3.06e-08
ZN:INDUS           -0.0099      0.007     -1.317      0.188      -0.025       0.005
I(INDUS ** 2.0)    -0.0131      0.003     -4.721      0.000      -0.019      -0.008
==============================================================================
Omnibus:                      188.538   Durbin-Watson:                   0.752
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              606.498
Skew:                           1.770   Prob(JB):                    2.00e-132
Kurtosis:                       7.029   Cond. No.                     4.27e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.27e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [8]:
metrics.r2_score(bos.PRICE, model.predict(bos))

0.280831023478485

# Zadanie - konkurs

Wykonaj regresję za pomocą metody **statsmodels.formula.api.ols** tak by wynik na zbiorze testowym był jak najlepszy.

In [9]:
est = ols('PRICE ~ I(NOX**3) + I(RM**5) * I(DIS**3) + RM + INDUS + INDUS + I(CRIM) + I(B) + I(PTRATIO**3) + DIS * NOX + LSTAT + DIS * LSTAT', data=bos).fit()
print(est.params)
print((est.summary2()))
metrics.r2_score(bos.PRICE, est.predict(bos))

Intercept                 5.830434e+01
I(NOX ** 3)              -1.011952e+01
I(RM ** 5)                8.271873e-04
I(DIS ** 3)              -1.335961e-03
I(RM ** 5):I(DIS ** 3)    7.276628e-07
RM                       -4.202146e+00
INDUS                    -5.194888e-02
I(CRIM)                  -9.793783e-02
I(B)                      6.111086e-03
I(PTRATIO ** 3)          -7.829268e-04
DIS                      -2.370493e-01
NOX                       5.333023e+00
DIS:NOX                  -4.406226e+00
LSTAT                    -7.299637e-01
DIS:LSTAT                 5.086814e-02
dtype: float64
                    Results: Ordinary least squares
========================================================================
Model:                OLS                Adj. R-squared:       0.783
Dependent Variable:   PRICE              AIC:                  2922.8937
Date:                 2022-04-27 20:21   BIC:                  2986.2918
No. Observations:     506                Log-Likelihood:       -1446.4
Df Model:             14                 F-statistic:          131.2
Df Residuals:         491                Prob (F-statistic):   8.98e-156
R-squared:            0.789              Scale:                18.346
------------------------------------------------------------------------
                        Coef.   Std.Err.    t    P>|t|   [0.025   0.975]
------------------------------------------------------------------------
Intercept               58.3043  11.9670  4.8721 0.0000  34.7914 81.8172
I(NOX ** 3)            -10.1195  13.4067 -0.7548 0.4507 -36.4611 16.2221
I(RM ** 5)               0.0008   0.0001 10.3726 0.0000   0.0007  0.0010
I(DIS ** 3)             -0.0013   0.0041 -0.3259 0.7446  -0.0094  0.0067
I(RM ** 5):I(DIS ** 3)   0.0000   0.0000  3.9938 0.0001   0.0000  0.0000
RM                      -4.2021   0.8394 -5.0063 0.0000  -5.8514 -2.5529
INDUS                   -0.0519   0.0520 -0.9993 0.3181  -0.1541  0.0502
I(CRIM)                 -0.0979   0.0290 -3.3737 0.0008  -0.1550 -0.0409
I(B)                     0.0061   0.0024  2.5497 0.0111   0.0014  0.0108
I(PTRATIO ** 3)         -0.0008   0.0001 -6.4074 0.0000  -0.0010 -0.0005
DIS                     -0.2370   1.7015 -0.1393 0.8893  -3.5802  3.1061
NOX                      5.3330  23.7073  0.2250 0.8221 -41.2473 51.9133
DIS:NOX                 -4.4062   3.1278 -1.4088 0.1595 -10.5517  1.7392
LSTAT                   -0.7300   0.0764 -9.5505 0.0000  -0.8801 -0.5798
DIS:LSTAT                0.0509   0.0215  2.3650 0.0184   0.0086  0.0931
------------------------------------------------------------------------
Omnibus:               167.969        Durbin-Watson:           1.034
Prob(Omnibus):         0.000          Jarque-Bera (JB):        2330.062
Skew:                  1.036          Prob(JB):                0.000
Kurtosis:              13.306         Condition No.:           459784622
========================================================================
* The condition number is large (5e+08). This might indicate
strong multicollinearity or other numerical problems.

0.7891260838483098